/*
Color Palette
background: #1A202C;
foreground: #2D3748;
text: #EEE;
accent: #EF3B2D
*/

body {
    padding-top:6em;
    background: #111;
    color: #EEE;
}

h1, h2, h3 {
    color: #E8B640;
}

.btn-default {
    background: #E8B640;
    border-color: #E8B640;
    color:#111;
}

.song {
    background: #2D3748;
    border-radius: 3px;
    border: #3E4859;
    position:relative;
}

.song.current p {
    color:#E8B640;
}

.song .nextSong {
    display:none;
}

.song.next .nextSong {
    position: absolute;
    right: 5px;
    top: 0px;
    background: #E8B640;
    border-radius: 3px;
    padding: 3px;
    display: inherit;
    color:#111;
}

.removeSong {
    cursor: pointer;
}

.removeSong:hover {
    color:#E8B640;
}

.logo {
    height: 75px;
    float: left;
    margin: 1em;
    border-radius: 38px;
}

#queue {
    margin-bottom:6em;
}

#addSongTray {
    background:#111;
}


.fixed-top {
    background: #111;
}
